.App {
  text-align: center;
}

.die-holder{
  display: flex;
  justify-content: center;

}

.die-holder > * {
  font-size: 5em;
  margin: 0.4em;
  padding-top: 1em;
}

.wobbleEffect{
  animation-name: wobble;
  animation-duration: 1s;  
}

.die-style-parent > * {
  color: darkblue;
  font-size: 2em;
}

.roll-dice > button {
  width: 10em;
  margin: 5em;
  padding: 1em;
  font-weight: bolder;
  border-radius: 0.5em;
}

.roll-dice > button:hover {
  color: white;
  background-color: darkblue;
  cursor: pointer;
}

@keyframes wobble {
   0% { transform: translateX(0%); } 
   15% { transform: translateX(-25%) rotate(-5deg); 
          color: darkslateblue;} 
   30% { transform: translateX(20%) rotate(3deg);
          color: darkblue  } 
   45% { transform: translateX(-15%) rotate(-3deg);
          color: darkslateblue } 
   60% { transform: translateX(10%) rotate(2deg); }
   75% { transform: translateX(-5%) rotate(-1deg); }
   100% { transform: translateX(0%); } 
} 